<div class="card taco-card">
  <div class="card-header">Taco #{{id}}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img src="assets/images/taco.png" alt="taco" class="card-taco-img">
      </div>
      <div class="col-8 center-content">
        <h5 class="card-title">{{taco_name}}</h5>
        {{#if gromphed}}
          <button class="btn btn-primary change-gromph" data-id="{{id}}" data-newgromph="{{gromph}}">
            <i class="fas fa-redo-alt"></i>&nbsp;&nbsp;Return To Menu
          </button>
        {{else}}
          <button class="btn btn-primary change-gromph" data-id="{{id}}" data-newgromph="{{gromph}}">
            <i class="fas fa-utensils"></i>&nbsp;&nbsp;Gromph Taco
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
